*{
    font-size: 22px;
}

body{
    margin: 0px;
}

li{
    list-style: none;
}

.container{
    margin: 0 px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: black;
}

.header-logo{
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
}

.header-title{

}

.nav-container{
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    display: flex;
    color:aqua;
}

.nav-link{
    margin: 62px 55px;
    text-decoration: none;
}

.start-section{
    grid-column-start: 1;
    grid-column-end: 4;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.footer-container{
    display: grid;
}

.section{
    margin: auto;
}

#welcome{

}

#visiting{
    
}

#explore{
    
}

#video{
    
}

#gallery{
    
}

#tickets{
    
}

.dividing-line{

}

#contacts{
    
}