*{
    font-size: 22px;
}

body{
    margin: 0px;
}

li{
    list-style: none;
}

.container{
    margin: 0 px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: black;
}

.header-logo{
    font-size: 28px;
    text-transform: uppercase;
    color: #ffffff;
}

.header-title{

}

.nav-container{
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    display: flex;
}

.nav-link{
    margin: 62px 55px;
    text-decoration: none;
    color:#ffffff;
}

.start-section{
    grid-column-start: 1;
    grid-column-end: 4;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.footer-container{
    display: grid;
}

.section{
    margin: 0px;
}

#welcome{
    position: relative;
    height: 810px;
    color: #ffffff;
}

#visiting{
    
}

#explore{
    
}

#video{
    
}

#gallery{
    
}

#tickets{
    
}

.dividing-line{

}

#contacts{
    
}

.welcome-section{
    display: grid;
    grid-template-columns: auto 1000px;
    margin: auto 240px;
}

.welcome-title h1{
    display: block;
    font-size: 80px;
    overflow: visible;
}

.welcome-title h3{
    font-size: 28px;
}

.monoloisa{
    display: flex;
    position: relative;
    background-image: url('/Project1-Museum/images/pictures/monolisa.jpg');
    border-right: 30px solid aquamarine;
}

.slider{
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 120px;
    padding: 20px;
    color:#ffffff;
    background-color: #000000;
}

.bg-black{
    position: absolute;
    background-color: #000000;
    height: 100%;
    width: 100%;
    z-index: -100;
}