
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 100;
    margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/*.bg-black{
    position: absolute;
    background-color: #030303;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -100;
}*/

li{
    list-style: none;
}

h1{
    padding-bottom: 25px;
    letter-spacing: 5px;
    font-family: Forum;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
}

h3{
    font-size: 32px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.container{
    width: 100%;
}

p{
    font-size: 22px;
    font-weight: 100;
    line-height: 1.75;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 1440px;
    height: 150px;
    font-weight: 100;
    background-color: #030303;
}

.header-logo{
    display: flex;
    align-items: baseline;
    padding: 0px;
    margin: 0px;
    height: 33px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Forum;
    letter-spacing: 5px;
    color: #ffffff;
    cursor: pointer;
}

.louvre-logo{
    margin-right: 25px;
    width: 49px;
    height: 26px;
    background-image: url(/Project1-Museum/images/icons/luvr_triangle.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    display: flex;
}

.nav-link{
    margin: 62px 21px 62px 34px;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 22px;
    color:#ffffff;
    transition: 0.5s;
}

.nav-link:hover{
    color: #9d8665;
}

.nav-link:active{
    color: #7E6C51;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.footer-container{
    display: grid;
}

.section{
    position: relative;
    margin: 0px auto;
    width: 1440px;
}

#welcome{
    position: relative;
    height: 810px;
    color: #ffffff;
    background-color: #030303;
    box-shadow: 0px 5px 5px grey;
}

.welcome-section{
    display: flex;
    flex-direction: row-reverse;
}

.welcome-title{
    position: absolute;
    align-self: center;
    left: 0px;
    letter-spacing: 2px;
    z-index: 100;
    overflow: visible;
    white-space: nowrap;
    z-index: 100;
}

.welcome-title h3{
    margin-bottom: 75px;
    font-size: 28px;
}

.welcome-title div{
    box-sizing: border-box;
    padding: 26px 64px;
    width: 361px;
    border-radius: 10px;
    background-color: #710707;
    transition: 0.5s;
    cursor: pointer;
}

.welcome-title div:hover{
    background-color: #9d8665;
}

.monolisa{
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url(/Project1-Museum/images/pictures/monolisa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) calc(100% - 10px);
}

.monolisa::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 410px;
    background: linear-gradient(90deg,rgba(3, 3, 3, 1) 0%, rgba(3, 3, 3, 0.5) 16%, rgba(3, 3, 3, 0) 31%);
    z-index: 10;
}

.welcome-slider{
    position: absolute;
    box-sizing: border-box;
    width: 600px;
    height: 120px;
    bottom: 0px;
    color:#ffffff;
    background-color: #030303;
    z-index: 100;
}

#visiting{
    display: grid;
    grid-template-rows: 200px auto auto;
    gap: 75px 60px;
    grid-template-areas: 'header header header'
                        'div div div'
                        'div div div';
    height: 1116px;
    margin-bottom: 150px;
}

#visiting header{
    grid-area: header;
    align-self: flex-end;
    border-bottom: 3px solid #710707;
    color: #9d8665;
}

.visiting-tour-block{
    display: flex;
    flex-direction: column;
}

.tour-block-header{
    position: relative;
    padding: 25px 0px 10px;
    font-family: Forum;
    font-weight: 400;
}

.tour-block-header::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 70%;
    height: 3px;
    background-color: #710707;
}

.tour-block-title1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 100;
}

.tour-block-title2{
    font-size: 18px;
    font-weight: 100;
}

#explore{
    align-items: center;
    height: 865px;
    margin: 75px 0px;
    color: #ffffff;
    background-color: #030303;
}

.explore-section{
    display:flex;
    margin: 75px auto;
}

.explore-text{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.explore-slider{
    position: relative;
    top: 15px;
}

.explore-head{
    margin-bottom: 75px;
    border-bottom: 3px solid #710707;
    white-space: nowrap;
}

.explore-about{
    margin-bottom: 25px;
}

.explore-about span{
    color: #CAAA7D;
}

#video{
    height: 1246px;

}

.video-grid-container {  
    display: grid;
    position: relative;
    gap: 30px 60px;
    grid-template-columns: auto;
    grid-template-rows: 650px 254px 15px;
    grid-template-areas:
    "big-video big-video big-video"
    "small-video small-video small-video"
    "video-slider video-slider video-slider";
}

.video-head { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    color: #9d8665;
}


.video-text{
    grid-area: video-text; 
    align-self: center;
    left: 0px;
    font-weight: 300;
    color: black;
}

.big-video { 
    grid-area: big-video;
    width: 1475px;
}

.small-video{ 
    grid-area: 'small-video'; 
}

.video-slider { 
    grid-area: video-slider; 
    margin: auto;
}


#gallery{
    height: 2200px;
    background-color: #030303;
}

#tickets{
    height: 743px;

}

.dividing-line{
    height: 400px;

}

#contacts{
    height: 813px;
}
